body{
    background-color: wheat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.content{
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(213, 202, 202);
    text-align: center;
}

h1{
    color:brown;

}

h3{
    color: rgb(136, 26, 26);
}

table{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th,td{
    padding: 10px;
    border: 1px solid brown;
}